server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://local-mysql:3306/app?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: app
    password: "1111"
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true